
@{
    ViewBag.Title = "AddTestimonial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Referans Ekleme Sayfası</h2>

<form method="post">
    <label>Referans Adı</label>
    <input type="text" class="form-control" name="Name" style="border:1px solid #0094ff" />
    <br />
    <label>Referans Unvan</label>
    <input type="text"  class="form-control" name="Title" style="border:1px solid #0094ff" />
    <br />
    <label>Referans Görseli</label>
    <input type="text"  class="form-control" name="ImageUrl" style="border:1px solid #0094ff" />
    <br />
    <label>Referans Yorumu</label>
    <textarea class="form-control" rows="5" name="Comment" style="border:1px solid #0094ff"></textarea>
    <br />
    <button class="btn btn-primary" >Kaydet</button>
</form>

